.nav {
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(126, 126, 126, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 2px;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification2 {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 25px;
  bottom: 30px;
}
